page-home {
    .menu {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        .menuItem {
            flex: 0 0 100%;
            // &:before {
            //     content: '';
            //     float: left;
            //     padding-top: 100%;
            // }
            width: 100%;
            height: 50%;
            .button {
                height: 100%;
                width: 100%;
                padding: 10px;
                &.bw-card {
                    background: url('../assets/bw_icon.svg') no-repeat;
                    background-repeat: no-repeat;
                    background-size: 90% 90%;
                    background-position: center;
                    background-clip: content-box;
                }
                &.color-card {
                    background: url('../assets/color_icon.svg') no-repeat;
                    background-repeat: no-repeat;
                    background-size: 90% 90%;
                    background-position: center;
                    background-clip: content-box;
                    position: relative;
                    .text {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 50%;
                        color: white;
                        transform: translateX(-50%);
                        font-size: 30px;
                    }
                }
            }
            @media (orientation:landscape) {
                flex: 0 0 50%;
                height: 100%;
            }
        }
        // button {
        //     border-width: 0;
        //     width: 100%;
        //     //height: 50%;
        // }
    }
    .menuContent {
        //background-color: #e5e8c9;
    }
    .footer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        div {
            color: lightgray;
        }
    }
}