page-bw-cards {
    .scroll-content {
        margin-top: 0 !important;
    }
    .controls {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .container {
            display: flex;
            align-items: stretch;
            height: 100%;
        }
        * {
            flex: 0 1 50%;
        }
    }
    .header {
        transition: top 2.00s ease;
    }
    //ion-content {
    .inverse {
        background-color: black !important;
        svg {
            fill: white;
        }
    }
    // }
}